@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* my dark styling */
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drawn-numbers {
    border: yellow 1px solid;
    height: 150px;
    width: 600px;
}

.your-numbers {
    margin-top: 10px;
    height: 60px;
    width: 400px;
    font-size: 1.5rem;
    text-align: center;
    color: aqua;
}

.newBtn {
    margin: 10px;
}

.customBtn {
    margin-bottom: 10px;
}

.results {
    width: 600px;
    height: 500px;
    margin-top: 15px;
}
